.container-fluid
  h3 My Sites
  a(ng-click="showCreate()").btn.btn-success
    i.fa.fa-plus-circle
    span Create Site
    
  ul.list-group
    li(ng-repeat="site in sites").list-group-item
      strong {{site.siteName}}
      a(ng-click="editSite(site)") Edit

  div.row
    form.form-horizontal(name="siteForm",ng-show="createVisible",on-valid-submit="saveSite()")
      div.col-lg-6.well
        div.form-group
          label(for="siteName").control-label.col-sm-4 My Website Name
          div.col-sm-8
            input(type="text",
              name="siteName",
              required,
              ng-model="site.siteName"
              )#siteName.form-control
            div(ng-show="siteForm.$submitted")
              p(ng-show="siteForm.siteName.$error.required") Site name is required

        div.form-group
          label(for="siteDomain").control-label.col-sm-4 Domain Name
          div.col-sm-4
            input(
              type="text",
              required,
              unique="domainName",
              service="Sites",
              name="domainName",
              ng-model="site.domainName",
              filter-validation="validSlug"
            )#siteDomain.form-control 

            p(ng-show="siteForm.domainName.$error.unique") That domain is unavailable
            p(ng-show="siteForm.domainName.$error.filter") The domain can only have lowercase or dashes
            div(ng-show="siteForm.$submitted")
              p(ng-show="siteForm.domainName.$error.required") domain name is required
        
          div.col-sm-4
            span http://{{site.domainName||'!invalid'}}.mydrive5.com
       
        


        .row
          .col-sm-6
            h3 Some Quick Menu Items
          .col-sm-6
            a(ng-click="addMenuItem()").btn.btn-success
              span add Menu Item
              i.fa.fa-plus-circle
        div(ng-repeat="menuItem in site.menuItems")

          div.form-group
            label(for="menuItem{{$index}}").control-label.col-sm-1 {{$index}}
            div.col-xs-6
              input(
                type="text", 
                required,
                ng-model="menuItem.title",
                id="menuItem{{$index}}",
                name="menuItem{{$index}}"
                ).form-control
              div(ng-show="siteForm.$submitted")
                p(ng-show="siteForm['menuItem'+$index].$error.required") Name of menu item is required

              
            div.col-xs-5
              a(ng-click="addSubMenuItem($index)").btn.btn-info
                span add subMenu&nbsp
                i.fa.fa-plus-square
              a(ng-click="deleteMenuItem($index)").btn.btn-danger
                span delete&nbsp
                i.fa.fa-trash
          

          div(ng-repeat="subMenuItem in menuItem.sub")
            i.fa-fa-caret-right
            div.form-group
              label(for="").control-label.col-sm-1.col-sm-offset-1 {{$parent.$index}}.{{$index}}
              div.col-xs-6
                input(
                  type="text", 
                  name="subMenu{{$parent.$index}}-{{$index}}",
                  required, 
                  ng-model="subMenuItem.title").form-control
                
                div(ng-show="siteForm.$submitted")
                  p(ng-show="siteForm['menuItem'+$parent.$index+'-'+$index].$error.required") Name of menu item is required

              div.col-xs-4
                a(ng-click="deleteSubMenuItem($parent.$index,$index)").btn.btn-danger
                  span delete&nbsp
                  i.fa.fa-trash

      div.col-lg-6.well           
        
        palette-picker(choice="choice")

        .form-group
          label(for="participants").control-label.col-xs-6 Do you want to have individual participants to be able to do personal fundraising?
          div.col-xs-6
            input(type="checkbox",id="participants",ng-model="site.participants")


        button.btn.btn-success(type="submit") SaveSite










  div.row(ng-show="createVisible")
    h1 Preview 
      i.fa.fa-arrow-circle-down

div.preview(ng-show="createVisible")
  my-navbar(
    nav-items="site.menuItems",
    nav-brand="{{site.siteName}}",
    custom-color="custom(0)")


  .container
    h2 Example navbar
    p Donec purus nibh, pretium at tortor condimentum, faucibus tempor tellus. In dignissim lacus sit amet velit efficitur commodo. Vivamus sagittis nisl nec est ullamcorper, euismod tristique ex venenatis. Sed sit amet pulvinar sem, eget elementum purus. Praesent dictum enim at velit porttitor euismod. Nulla id lacus in arcu malesuada blandit. In eros est, sodales bibendum sem vel, vehicula tristique turpis. Proin sem ipsum, efficitur ut finibus vitae, pretium sed elit. Nullam risus justo, commodo at sapien ut, varius fringilla nunc. Aliquam erat volutpat. Vivamus et mauris dignissim, malesuada eros at, lobortis lacus. Nunc ut elementum leo, feugiat placerat ante. Aliquam sollicitudin, leo id bibendum commodo, est tellus gravida dui, semper consequat mauris orci a magna. Curabitur pharetra sit amet velit et condimentum. Nunc enim erat, hendrerit vitae dictum a, fermentum ac dolor. Quisque aliquet leo eu egestas feugiat.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet placerat pharetra. Sed convallis efficitur ex, et volutpat nunc gravida non. Suspendisse sit amet odio non dui tempor laoreet. Duis vestibulum, dui ac faucibus suscipit, lectus dolor porttitor nulla, quis volutpat nulla ligula eget nulla. Aliquam erat volutpat. Nulla interdum justo ligula, eu ullamcorper nibh tincidunt in. Vestibulum sed diam sed tortor consequat sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis condimentum sollicitudin suscipit. Integer ac aliquet tellus. Praesent euismod interdum fermentum.



