.container-fluid
  h3 My Sites
  ul.list-inline.chip-list
    li(ng-repeat="site in sites").list-group-item
      a(ng-click="editSite(site)") {{site.siteName}}
      
  a(ng-click="showCreate()").btn.btn-success
    i.fa.fa-plus-circle
    span Create Site
    

  div.row(ng-show="createVisible")
    div.col-lg-6.well
      form.form-horizontal(name="siteForm",on-valid-submit="saveSite()")
        div.form-group
          label(for="siteName").control-label.col-sm-4 My Website Name
          div.col-sm-8
            input(type="text",
              name="siteName",
              required,
              ng-model="site.siteName"
              )#siteName.form-control
            div(ng-show="siteForm.$submitted")
              p(ng-show="siteForm.siteName.$error.required") Site name is required

        div.form-group
          label(for="siteDomain").control-label.col-sm-4 Domain Name
          div.col-sm-4
            input(
              type="text",
              required,
              unique="domainName",
              service="Sites",
              name="domainName",
              ng-model="site.domainName",
              filter-validation="validSlug"
            )#siteDomain.form-control 

            p(ng-show="siteForm.domainName.$error.unique") That domain is unavailable
            p(ng-show="siteForm.domainName.$error.filter") The domain can only have lowercase or dashes
            div(ng-show="siteForm.$submitted")
              p(ng-show="siteForm.domainName.$error.required") domain name is required
        
          div.col-sm-4
            span http://{{site.domainName||'!invalid'}}.mydrive5.com
        
        palette-picker(choice="choice")

        .form-group
          label(for="participants").control-label.col-xs-9 Do you want to have individual participants to be able to do personal fundraising?
          div.col-xs-2
            input(type="checkbox",id="participants",ng-model="site.participants")
        
        .form-group
          label(for="blog").control-label.col-xs-9 Do you want to be able to add posts to a news/blog page?
          div.col-xs-2
            input(type="checkbox",id="blog",ng-model="site.blog")

        .form-group
          label.control-label.col-xs-9(for="subscribe") Do you want to be able to add posts to a news/blog page?
          div.col-xs-2
            input(type="checkbox",id="subscribe",ng-model="site.subscribe") 

        button.btn.btn-success(type="submit") SaveSite
      
    div.col-lg-6.well    
      page-items(menu-items="site.menuItems")  



  div.row(ng-show="createVisible")
    h1 Preview 
      i.fa.fa-arrow-circle-down

div.preview(ng-show="createVisible")
  my-navbar(
    nav-items="site.menuItems",
    nav-brand="{{site.homePage.title}}",
    custom-color="custom(0)")


  .container
    h2 Example navbar
    p Donec purus nibh, pretium at tortor condimentum, faucibus tempor tellus. In dignissim lacus sit amet velit efficitur commodo. Vivamus sagittis nisl nec est ullamcorper, euismod tristique ex venenatis. Sed sit amet pulvinar sem, eget elementum purus. Praesent dictum enim at velit porttitor euismod. Nulla id lacus in arcu malesuada blandit. In eros est, sodales bibendum sem vel, vehicula tristique turpis. Proin sem ipsum, efficitur ut finibus vitae, pretium sed elit. Nullam risus justo, commodo at sapien ut, varius fringilla nunc. Aliquam erat volutpat. Vivamus et mauris dignissim, malesuada eros at, lobortis lacus. Nunc ut elementum leo, feugiat placerat ante. Aliquam sollicitudin, leo id bibendum commodo, est tellus gravida dui, semper consequat mauris orci a magna. Curabitur pharetra sit amet velit et condimentum. Nunc enim erat, hendrerit vitae dictum a, fermentum ac dolor. Quisque aliquet leo eu egestas feugiat.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet placerat pharetra. Sed convallis efficitur ex, et volutpat nunc gravida non. Suspendisse sit amet odio non dui tempor laoreet. Duis vestibulum, dui ac faucibus suscipit, lectus dolor porttitor nulla, quis volutpat nulla ligula eget nulla. Aliquam erat volutpat. Nulla interdum justo ligula, eu ullamcorper nibh tincidunt in. Vestibulum sed diam sed tortor consequat sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis condimentum sollicitudin suscipit. Integer ac aliquet tellus. Praesent euismod interdum fermentum.



