div#myNavbar.navbar.navbar-default.navbar-static-top(ng-style="customColor(0)")
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ng-click="goTo({slug:'home'})") {{navBrand}}

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li.dropdown(
          open=""
          ng-repeat='item in navItems'
          )
          a.dropdown-toggle(
            ng-style="customColor(1)"
            is-open="true",
            aria-expanded="false"
            ng-disabled="item.sub.length===0",
            ng-click="item.sub.length!==0 || goTo(item)"
          ) {{item.title}}
            span &nbsp
              i(ng-show="item.sub.length>0").fa.fa-caret-down

          ul.dropdown-menu(role="menu")
            li(ng-repeat="sub in item.sub")
              a(
                ng-click="goTo(sub)"
                ) {{sub.title}}
              
      ul.nav.navbar-nav.navbar-right