div.paper-input.group
  input.form-control(
    type="password",
    ng-model="data[field.name]"
    ng-required="field.required"
    name="{{field.name}}"
    id="{{field.id}}"
    ng-maxlength="{{field.maxlength}}"
    ng-minlength="{{field.minlength}}"
    auto-fill-sync
    )
  span.highlight
  span.bar
  div.hint
    span(ng-show="field.minlength>0")
      | min {{field.minlength}} > &#32;&#32;
    span(ng-show="field.maxlength>0")
      | {{data[field.name].length || ' '}} < {{field.maxlength}} max &#32;&#32;
  label(for="{{field.id}}") {{field.label}}
