div.paper-input.group
  input.form-control(
    type="tel",
    ng-model="data[field.name]"
    ng-required="field.required"
    mask='(999) 999-9999? ex:9999'
    name="{{field.name}}"
    id="{{field.id}}"
    auto-fill-sync
    ng-cloak
    )
  span.highlight
  span.bar
  label(for="{{field.id}}") {{field.label}}
  div.hint (999) 999-9999
