label(for="{{field.id}}") {{field.label}}
textarea.form-control(
  type="text",
  ng-model="data[field.name]"
  placeholder="{{field.placeholder}}"
  ng-required="field.required"
  name="{{field.name}}"
  id="{{field.id}}"
  ng-cloak
  )
