div.paper-input.group
  textarea.form-control(
    type="text",
    ng-model="data[field.name]"
    ng-required="field.required"
    name="{{field.name}}"
    id="{{field.id}}"
    ng-cloak
    )
  span.highlight
  span.bar
  label(for="{{field.id}}") {{field.label}}