.jumbotron.masthead.my-mage(
  my-image="page.template.default.jumboImage"
  ng-style="{'background-image':'url('+page.template.default.jumboImage.urlPath+')'}"
  )
  .container
    editor-container
      div(editable="editorOptions",ng-model="page.template.default.header1")

.container
  .row
    .col-md-4
      div.my-image(my-image="page.template.default.image1").img-circle
        img(ng-src="{{page.template.default.image1.urlPath}}").img-circle.img-responsive
      editor-container
        div(editable="editorOptions",ng-model="page.template.default.block1")
      p
        my-button(
          available="navigationItems",
          button="page.template.default.button1",
          current-page="{{page.slug}}"
          )
    .col-md-4
      div.my-image(my-image="page.template.default.image2").img-circle
        img(ng-src="{{page.template.default.image2.urlPath}}").img-circle.img-responsive
      editor-container
        div(editable="editorOptions",ng-model="page.template.default.block2")
      p
        my-button(
          available="navigationItems",
          button="page.template.default.button2",
          current-page="{{page.slug}}"
          )
    .col-md-4
      div.my-image(my-image="page.template.default.image3").img-circle
        img(ng-src="{{page.template.default.image3.urlPath}}").img-circle.img-responsive
      editor-container
        div(editable="",ng-model="page.template.default.block3")
      p
        my-button(
          available="navigationItems",
          button="page.template.default.button3",
          current-page="{{page.slug}}"
          )
  .row
    subscription-form

